<p>
	<button
		class="btn btn-primary"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#comment-collapse-{{this.id}}"
		aria-expanded="false"
		aria-controls="comment-collapse-{{this.id}}"
	>
		View Comments
	</button>
</p>
<div class="collapse" id="comment-collapse-{{this.id}}">
	<div class="comments card">
		<ul class="comment-list list-group list-group-flush card-body">
			{{#each this.comments as |comment|}}
				<li class="list-group-item comment card-text">
					{{comment.content}}</li>
			{{/each}}
		</ul>
	</div>
</div>
<p>
	<button
		class="btn btn-outline-primary"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#create-comment"
		aria-expanded="false"
		aria-controls="create-comment"
	>
		Create Comment
	</button>
</p>
<div class="collapse" id="create-comment">
	<form>
		<div class="mb-3">
			<label for="new-comment" class="form-label">Comment</label>
			<textarea
				class="form-control"
				name="new-comment"
				id="new-comment"
			></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>