<div class="comments card">
	<ul class="comment_list card-text bg-dark text-light">
		<li class="comment"> Test Comment 1</li>
		<li class="comment"> Test Comment 2</li>
		<li class="comment"> Test Comment 3</li>
	</ul>
</div>