<div class="comments card">
	<ul class="comment-list list-group list-group-flush">
		{{#each this as |comment|}}
			<li class="list-group-item comment"> {{comment.content}}</li>
		{{/each}}
	</ul>
</div>