html,
body,
main {
	width: 100%;
	height: 100%;
}

label {
	width: 100%;
}

.blog {
	width: 100%;
}

.post,
.comment {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.card {
	padding: 0px;
	margin: 0px;
	border: 1px solid;
}

.card-header {
	padding: 0px;
	margin: 0px;
	width: 100%;
}

/* Transformation Tutorial Source: https://techstacker.com/how-to-make-elements-zoom-on-hover-with-css/ */
.card-transform {
	transition: transform 0.3s, margin 0.3s ease-in-out; /* Animation */
	z-index: -10;
	position: static;
	padding: 0px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-transform:hover {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
	transition: transform 0.3s, margin 0.3s ease-out;
	width: 100%;
	z-index: 10;
	margin: 20px 0px;
	position: relative;
}

.post-view {
	padding: 0px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-view button {
	width: 100%;
}

.post-title {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-weight: 550;
	border-width: 1px;
	border-bottom-style: solid;
	border-radius: 0px;
	border-color: rgba(13, 110, 253, 0.75);
	color: rgba(13, 110, 253, 1);
}

.post-text {
	margin: 0px;
}

.post-group-header {
	width: 100%;
	font-size: 20px;
}

.comment {
	width: 100%;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: solid 1px rgba(0, 0, 0, 0.175);
}

.comment-dashboard {
	width: 100%;
	margin: 0px;
	margin-top: 8px;
	padding: 0px;
}

.comment-header {
	width: 100%;
	font-size: 12px;
	margin: 0px;
	border: none;
}

.comment-text {
	margin: 0px;
}

.comments-container {
	margin-bottom: 75px;
}

.card-footer-button {
	padding: 8px;
	margin: 0px;
}

.delete-post-button {
	font-weight: bold;
}

navbar-footer {
	padding: 50px 0px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	margin-top: 50px;
	z-index: -10;
}
