html,
body,
main {
	width: 100%;
	height: 100%;
}

.blog {
	width: 100%;
}

.post {
	width: 100%;
}

/* Transformation Tutorial Source: https://techstacker.com/how-to-make-elements-zoom-on-hover-with-css/ */
.card-transform {
	transition: transform 0.3s, margin 0.3s ease-in-out; /* Animation */
	z-index: -10;
	position: static;
	padding: 0px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card-transform:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
	transition: transform 0.3s, margin 0.3s ease-out;
	width: 100%;
	z-index: 10;
	margin: 50px 0px;
	position: relative;
}

.post-group-header {
	width: 100%;
	font-size: 20px;
}

.comment-header {
	font-size: 12px;
}
